[submodule "RLBench"]
	path = RLBench
	url = https://github.com/mechapuru/Robust-TAMP-RLbench.git
[submodule "pddlstream"]
	path = pddlstream
	url = https://github.com/mechapuru/Robust-TAMP-PDDLStream.git
